

.observer{
  opacity: 0;
  transform: translateY(100px);
}

.observerShow {
  transform: translateY(0);
  opacity: 1;
}

.test {
  background: linear-gradient(
   rgba(43, 43, 43, 0.504)
  );
}

.deskBubbleVisible {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.deskBubbleHidden {
  transform: scale3d(0.1, 0.1, 0.1);
  opacity: 0;
}

.secondBubbleVisible {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.secondBubbleHidden {
  transform: scale3d(0.1, 0.1, 0.1);
  opacity: 0;
}



.featureBubbleVisible {
  /* transform: scale3d(1, 1, 1); */
  opacity: 1;
}

.featureBubbleHidden {
  /* transform: scale3d(0.1, 0.1, 0.1); */
  opacity: 0;
}


.prev_hide {
  opacity: 0;
  transform: translateY(100px)
}

.prev_show {
  opacity: 1;
  transform: translateX(0)
}

.seeArrow {
  opacity: 1
}

.hideArrow {
  opacity: 0;
}

.seeRightArrow {
  opacity: 1
}

.hideRightArrow {
  opacity: 0;
}


  .orb:nth-child(2) {
    transition-delay: 200ms;
  }
  .orb:nth-child(3) {
    transition-delay: 400ms;
  }
  .orb:nth-child(4) {
    transition-delay: 600ms;
  }
  .orb:nth-child(5) {
    transition-delay: 800ms;
  }


  .test {
    background: #1a1a1a91
  }

  
.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}

.active {
  font-weight: 900;
}